.personage {
    position: relative;
    right: 2px;
    background-color: white;
    border: 1px solid #ddd;
    padding-left: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 200px;
    float: left;
}
.forums{
    position: relative;
    left: 2px;
    background-color: white;
    border: 1px solid #ddd;
    padding-bottom: 10px;
    padding-left: 25px;
    width: 800px;
    float: left;
}
.aconcerned{
    float: right;
    color: black;
}
.name{
    color: black;
    font-size: 30px;
}
.name:hover {
    color: rgb(52,92,161);
    text-decoration: underline rgb(136,136,136);
}
.forum{
    float: left;
    width: 180px;
    padding-left: 25px;
    padding-top: 10px;
}
.tagul{
  position: relative;
  right: 40px;
}
.tag{
  padding-bottom: 5px;
}
.taga{
  font-size: 18px;
  display: inline-block;
  width: 150px;
  height: 30px;
  background-color: rgb(52,92,161);
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 3px;
  color: white;
}
.taga:hover{
  background-color: rgb(238,238,238);
  color: black;
  text-decoration: none;
}
.forumimg{
  display: inline-block;
  width: 154px;
  height: 154px;
}
.forumimg:hover{
  border: 2px solid black;
}
.divforums{
  display: none;
  width: 800px;
  float: left;
}
.hottopic{
  border-bottom: 1px solid #ddd;
  position: relative;
  right: 45px;
  top:10px
  
}
.hottopic:hover{
  background-color: rgb(240,240,240);
}
.hottopic a{
  color: rgb(52,92,161);
  font-size: 20px;
  font-weight: 600;
  line-height: 180%;
}
.hottopic a:hover{
  color: red;
}
.hottopic p{
  color: rgb(136,136,136);
  font-size: 15px;
  font-weight: 400;
  line-height: 200%;
}
.hottopic p a{
  color: rgb(136,136,136);
  font-size: 15px;
  font-weight: 400;
  line-height: 200%;
}
.content_img img{
  max-width: 100%;
}


