{% extends 'layout/basic.html' %}
{% load static %}

{% block title %}创建版块{% endblock %}
{% block css %}
    
{% endblock %}

{% block content %}
<h1 style="text-align:center;">创建版块</h1>
<div class="account">
  <form id="regForm" action="{% url 'web:create_forum' %}" method="POST" novalidate enctype="multipart/form-data">    
  {% csrf_token %}
  {% for field in form %}
  <div class="form-group">
    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
    {{ field }}
    <span class="error-msg"></span>
  </div>
  {% endfor %}
  <input  type="submit" class="btn btn-primary" value='创建'>
  </form>
</div>  
    
{% endblock %}

{% block js %}
  <script>
    $.ajaxSetup({
      data:{csrfmiddlewaretoken:'{{ csrf_token }}'}
    })
    $(function (){
      bindClick();
    });
    function bindClick() {
      $('#bindClick').click(function() {
        $('.error-msg').empty();
        var forum_name = $('#id_forum_name').val();
        $.ajax({
          url:"{% url 'web:create_forum' %}",
          type:'POST',
          data:$('#regForm').serialize(),
          dataType: "JSON", 
          success:function(res) {
            if (res.status){
              location.href = res.data;
            }else{
              $.each(res.error, function (key,value){
                $("#id_" + key).next().text(value[0]);
              })
            }
          }
        })
      })
    }
  </script>
{% endblock %}