{% extends 'layout/basic.html' %}
{% load static %}

{% block title %}首页{% endblock %}
{% block css %}
  <link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block content %}
  <div class="content">
    <div class="personage">
      <div class='logo'>
        {% if request.user.head_portrait %}
        <img class='logo1' src='{{ request.user.head_portrait.url }}'>
        {% else %}
        <img class='logo1' src="{% static 'img/default.jpg' %}">
        {% endif %}
      </div>
      <div><a class="name" href="{% url 'web:account' %}">{{ request.user.username }}</a></div>
      <h4>你关注的版块</h4>
      {% for concerned in request.user.usertoforum_set.all %}
      {% if concerned.status == 1 %}
      <div id="user_concerned_{{ concerned.forum.id }}" >
        <a class="concerned" href="{% url 'web:forum' concerned.forum.id %}">{{ concerned.forum }}</a>
      </div>
      {% endif %}
      {% endfor %}
    </div>
    <div class="forums">
      {% for forum in forums %}
      <div class="forum">
        <a href="{% url 'web:forum' forum.id%}">
          <img style="height: 150px; width: 150px;" src='{{ forum.picture.url }}'>
        </a>
        <a href="{% url 'web:forum' forum.id%}" style="color: black;">{{ forum.forum_name }}</a>
        {% if  forum.id in user_forum %}
        <a  id='concerned_{{ forum.id }}' class="aconcerned" href="javascript:unConcerned({{ forum.id }});">取消关注</a>
        {% else %}
        <a  id='concerned_{{ forum.id }}' class="aconcerned" href="javascript:Concerned({{ forum.id }});">关注</a>
        {% endif %}
        <div>
          <i class="fa fa-user"></i>  {{ forum.concern_count }}
          <div style="float: right;"><i class="fa fa-list" ></i>  {{ forum.topic_count }}</div>
        </div>
      </div>
      {% endfor%}
      <div>
        <a href="{% url 'web:create_forum' %}" class="add"><i class="fa fa-plus-square-o fa-4x" ></i></a>
      </div>
    </div>
  </div>
{% endblock %}

{% block js %}
  <script src="{% static 'js/home.js' %}"></script>
{% endblock %}
