{% extends 'layout/basic.html' %}
{% load static %}

{% block title %}管理中心{% endblock %}
{% block css %}
<style>
  .message{
    background-color: #337ab7;
    color: white;
    border-radius:4px;
    padding:5px 15px 10px 15px;
    margin-bottom: 4px;
    
    /* height: 400px; 
    overflow-y:scroll; */
  }
  .messagecontent{
  background-color: white;
  color: black;
  border: 1px double #ddd;
  padding:5px 10px 5px 10px; 
  margin-bottom: 2px;
  }
  .messagecontent:hover{
    background-color: rgb(240,240,240);
  }
  #box{
    width:27%;
    margin-right: 1.5%;
    border-radius:4px;
    float: right;
    padding: 4px;
    border: 2px double #ddd;
  }
  .div1{}
  .div2{
    width:27%;
    margin-right: 1.5%;
    border-radius:4px;
    float: right;
    padding: 4px;
    border: 2px double #ddd;
    position: fixed;
    top:2%;
    right: 0px;
  }
</style>
{% endblock %}

{% block content %}
    <h1 style="padding-left: 20px;">管理中心</h1>
    <div style="width: 70%;padding-left: 20px;float: left;">
      <div class="message">
        <h2>帖子管理</h2>
        <table class="table table-condensed">
          <tr class="messagecontent">
              <th>id</th>
              <th>帖子内容</th>
              <th>所属版块</th>
              <th>创建用户</th>
              <th>创建时间</th>
              <th>是否置顶</th>
              <th>是否加精</th>
              <th>操作</th>
          </tr>
        {% for topic in topic_page %}
          <tr class="messagecontent" id='topic_{{ topic.id }}'>
            <td>{{ topic.id }}</td>
            <td>{{ topic.topic_text }}</td>
            <td>
              <a href="{% url 'web:forum' topic.forum.id %}">{{ topic.forum }}</a>
            </td>
            <td>
              <a href="{% url 'web:other' topic.owner.id %}">{{ topic.owner }}</a>
            </td>
            <td>{{ topic.date_added }}</td>
            <td>
              {% if topic.top %}
              <a id="top_{{ topic.id }}" href="javascript:void(0)" onclick="unTop({{ topic.id }});">
              {% else %}
              <a id="top_{{ topic.id }}" href="javascript:void(0)" onclick="Top({{ topic.id }});">
              {% endif %}
              {{ topic.top }}
              </a>
            </td>
            <td>
              {% if topic.refined %}
              <a id="refined_{{ topic.id }}" href="javascript:void(0)" onclick="unRefined({{ topic.id }});">
              {% else %}
              <a id="refined_{{ topic.id }}" href="javascript:void(0)" onclick="Refined({{ topic.id }});">
              {% endif %}
              {{ topic.refined }}
              </a>
            </td>
            <td><a href="javascript:void(0)" onclick="topicDel({{ topic.id }})">删除</a></td>
          </tr>
        {% endfor %}
        </table>
      </div>
      <div style="margin-left: 33%;">
        <nav aria-label="Page navigation">
          <ul class="pagination">
            {% if topic_page.number > 1 %}
            <li>
              <a href="?page=1" aria-label="Previous">
                <span class="glyphicon glyphicon-fast-backward" aria-hidden="true"></span>
              </a>
            </li>
            <li>
              <a href="?page={{ topic_page.previous_page_number }}" aria-label="Previous">
                <span class="glyphicon glyphicon-triangle-left" aria-hidden="true"></span>
              </a>
            </li>
            {% endif %}
            {% if topic_page.paginator.num_pages == 1 %}
            <li><a href="?page={{ topic_page.number }}" style="background-color: rgb(238,238,238);">{{ topic_page.number }}</a></li>
            {% endif %}
            {% if topic_page.paginator.num_pages == 2 %}
              {% if topic_page.number == 1 %}
              <li><a href="?page={{ topic_page.number }}" style="background-color: rgb(238,238,238);">{{ topic_page.number }}</a></li>
              <li><a href="?page={{ topic_page.number|add:1 }}">{{ topic_page.number|add:1 }}</a></li>
              {% elif topic_page.number == 2 %}
              <li><a href="?page={{ topic_page.number|add:-1 }}">{{ topic_page.number|add:-1 }}</a></li>
              <li><a href="?page={{ topic_page.number }}" style="background-color: rgb(238,238,238);">{{ topic_page.number }}</a></li>
              {% endif %}
            {% endif %}
            {% if topic_page.paginator.num_pages == 3 %}
              {% if topic_page.number == 1 %}
              <li><a href="?page={{ topic_page.number }}" style="background-color: rgb(238,238,238);">{{ topic_page.number }}</a></li>
              <li><a href="?page={{ topic_page.number|add:1 }}">{{ topic_page.number|add:1 }}</a></li>
              <li><a href="?page={{ topic_page.number|add:2 }}">{{ topic_page.number|add:2 }}</a></li>
              {% elif topic_page.number == 2 %}
              <li><a href="?page={{ topic_page.number|add:-1 }}">{{ topic_page.number|add:-1 }}</a></li>
              <li><a href="?page={{ topic_page.number }}" style="background-color: rgb(238,238,238);">{{ topic_page.number }}</a></li>
              <li><a href="?page={{ topic_page.number|add:1 }}">{{ topic_page.number|add:1 }}</a></li>
              {% elif topic_page.number == 3 %}
              <li><a href="?page={{ topic_page.number|add:-2 }}">{{ topic_page.number|add:-2 }}</a></li>
              <li><a href="?page={{ topic_page.number|add:-1 }}">{{ topic_page.number|add:-1 }}</a></li>
              <li><a href="?page={{ topic_page.number }}" style="background-color: rgb(238,238,238);">{{ topic_page.number }}</a></li>
              {% endif %}
            {% endif %}
            {% if topic_page.paginator.num_pages == 4 %}  
              {% if topic_page.number == 1 %}
              <li><a href="?page={{ topic_page.number }}" style="background-color: rgb(238,238,238);">{{ topic_page.number }}</a></li>
              <li><a href="?page={{ topic_page.number|add:1 }}">{{ topic_page.number|add:1 }}</a></li>
              <li><a href="?page={{ topic_page.number|add:2 }}">{{ topic_page.number|add:2 }}</a></li>
              <li><a href="?page={{ topic_page.number|add:3 }}">{{ topic_page.number|add:3 }}</a></li>
              {% elif topic_page.number == 2 %}
              <li><a href="?page={{ topic_page.number|add:-1 }}">{{ topic_page.number|add:-1 }}</a></li>
              <li><a href="?page={{ topic_page.number }}" style="background-color: rgb(238,238,238);">{{ topic_page.number }}</a></li>
              <li><a href="?page={{ topic_page.number|add:1 }}">{{ topic_page.number|add:1 }}</a></li>
              <li><a href="?page={{ topic_page.number|add:2 }}">{{ topic_page.number|add:2 }}</a></li>
              {% elif topic_page.number == 3 %}
              <li><a href="?page={{ topic_page.number|add:-2 }}">{{ topic_page.number|add:-2 }}</a></li>
              <li><a href="?page={{ topic_page.number|add:-1 }}">{{ topic_page.number|add:-1 }}</a></li>
              <li><a href="?page={{ topic_page.number }}" style="background-color: rgb(238,238,238);">{{ topic_page.number }}</a></li>
              <li><a href="?page={{ topic_page.number|add:1 }}">{{ topic_page.number|add:1 }}</a></li>
              {% elif topic_page.number == 4 %}
              <li><a href="?page={{ topic_page.number|add:-3 }}">{{ topic_page.number|add:-3 }}</a></li>
              <li><a href="?page={{ topic_page.number|add:-2 }}">{{ topic_page.number|add:-2 }}</a></li>
              <li><a href="?page={{ topic_page.number|add:-1 }}">{{ topic_page.number|add:-1 }}</a></li>
              <li><a href="?page={{ topic_page.number }}" style="background-color: rgb(238,238,238);">{{ topic_page.number }}</a></li>
              {% endif %}
            {% endif %}
            {% if topic_page.paginator.num_pages >= 5 %}  
              {% if topic_page.number == 1 %}
              <li><a href="?page={{ topic_page.number }}" style="background-color: rgb(238,238,238);">{{ topic_page.number }}</a></li>
              <li><a href="?page={{ topic_page.number|add:1 }}">{{ topic_page.number|add:1 }}</a></li>
              <li><a href="?page={{ topic_page.number|add:2 }}">{{ topic_page.number|add:2 }}</a></li>
              <li><a href="?page={{ topic_page.number|add:3 }}">{{ topic_page.number|add:3 }}</a></li>
              <li><a href="?page={{ topic_page.number|add:4 }}">{{ topic_page.number|add:4 }}</a></li>
              {% elif topic_page.number == 2 %}
              <li><a href="?page={{ topic_page.number|add:-1 }}">{{ topic_page.number|add:-1 }}</a></li>
              <li><a href="?page={{ topic_page.number }}" style="background-color: rgb(238,238,238);">{{ topic_page.number }}</a></li>
              <li><a href="?page={{ topic_page.number|add:1 }}">{{ topic_page.number|add:1 }}</a></li>
              <li><a href="?page={{ topic_page.number|add:2 }}">{{ topic_page.number|add:2 }}</a></li>
              <li><a href="?page={{ topic_page.number|add:3 }}">{{ topic_page.number|add:3 }}</a></li>
              {% elif topic_page.number|add:1 == topic_page.paginator.num_pages %}
              <li><a href="?page={{ topic_page.number|add:-3 }}">{{ topic_page.number|add:-3 }}</a></li>
              <li><a href="?page={{ topic_page.number|add:-2 }}">{{ topic_page.number|add:-2 }}</a></li>
              <li><a href="?page={{ topic_page.number|add:-1 }}">{{ topic_page.number|add:-1 }}</a></li>
              <li><a href="?page={{ topic_page.number }}" style="background-color: rgb(238,238,238);">{{ topic_page.number }}</a></li>
              <li><a href="?page={{ topic_page.number|add:1 }}">{{ topic_page.number|add:1 }}</a></li>
              {% elif topic_page.number == topic_page.paginator.num_pages %}
              <li><a href="?page={{ topic_page.number|add:-4 }}">{{ topic_page.number|add:-4 }}</a></li>
              <li><a href="?page={{ topic_page.number|add:-3 }}">{{ topic_page.number|add:-3 }}</a></li>
              <li><a href="?page={{ topic_page.number|add:-2 }}">{{ topic_page.number|add:-2 }}</a></li>
              <li><a href="?page={{ topic_page.number|add:-1 }}">{{ topic_page.number|add:-1 }}</a></li>
              <li><a href="?page={{ topic_page.number }}" style="background-color: rgb(238,238,238);">{{ topic_page.number }}</a></li>
              {% else %}
              <li><a href="?page={{ topic_page.number|add:-2 }}">{{ topic_page.number|add:-2 }}</a></li>
              <li><a href="?page={{ topic_page.number|add:-1 }}">{{ topic_page.number|add:-1 }}</a></li>
              <li><a href="?page={{ topic_page.number }}" style="background-color: rgb(238,238,238);">{{ topic_page.number }}</a></li>
              <li><a href="?page={{ topic_page.number|add:1 }}">{{ topic_page.number|add:1 }}</a></li>
              <li><a href="?page={{ topic_page.number|add:2 }}">{{ topic_page.number|add:2 }}</a></li>
              {% endif %}
            {% endif %}
            {% if topic_page.number < topic_page.paginator.num_pages %}
            <li>
              <a href="?page={{ topic_page.next_page_number }}" aria-label="Next">
              <span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>
              </a>
            </li>
            <li>
              <a href="?page={{ topic_page.paginator.num_pages }}" aria-label="Next">
                <span class="glyphicon glyphicon-fast-forward" aria-hidden="true"></span>
              </a>
            </li>
            {% endif %}
            <li style="padding-left: 10px;position: relative;top:4px;">
               {{ count }} 条帖子数据 ，
              共 {{ topic_page.paginator.num_pages }} 页，
              跳转至<input type="text" id="pageNum" size="1">页
              <button type="button" class="btn btn-default btn-sm" onclick="getPage();">
                  <span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span>
              </button>
            </li>
          </ul>
        </nav>
      </div>
    </div>
    <div id="box">  
      <div id="float" class="div1">
          <ul class="nav nav-pills nav-stacked" >
            <li role="presentation"><a href="{% url 'web:manage' %}">消息中心</a></li>
              <li role="presentation" class="active"><a href="{% url 'web:manage_topic' %}">帖子管理</a></li>
              <li role="presentation"><a href="{% url 'web:manage_floor' %}">回复管理</a></li>
              {% if request.user.power == 3 %}
              <li role="presentation"><a href="{% url 'web:manage_forum' %}">版块管理</a></li>
              <li role="presentation"><a href="{% url 'web:manage_user' %}">用户管理</a></li>
              {% endif %}
          </ul>
      </div>  
    </div> 
    
    <div style="height: 110px;position: fixed;bottom:-30px;right: 25%;">
      <ul >
        <li >
          <div style="background-color: #337ab7;width: 50px;height: 50px;border-radius:4px;">
            <a href="javascript:void(0)" onclick="goto_top()">
              <i class="fa fa-chevron-up fa-2x" style="color: rgb(234,240,251);position: relative;left:11px ;top:10px"></i>
            </a>
          </div>
        </li>
      </ul>
    </div>
{% endblock %}

{% block js %}
<script src="{% static 'js/manage_topic.js' %}"></script>
  <script>

function getPage() {
        var pageNum = $('#pageNum').val();
        if(pageNum >= 1 && pageNum <= {{ topic_page.paginator.num_pages }} ){
            location.assign("{% url 'web:manage_topic' %}?page="+pageNum);
        }
        else{
            alert('请输入正确的页码!');
        }
    }
function topicDel(id) {
  var flag = confirm("您真的确定要删除吗？")
  if(flag){
    $.ajax({
        url: '/topic_del/'+ id + '/',
        type: "POST",
        data: {id:id},
        dataType: "JSON",
        success: function (res) {
            if(res.status){
            $('#topic_'+id).remove();
            }
        }
    })
  }
}
  </script>
{% endblock %}