{% extends 'layout/basic.html' %}
{% load static %}

{% block title %}管理中心{% endblock %}
{% block css %}
<style>
  .message{
    background-color: #337ab7;
    color: white;
    border-radius:4px;
    padding:5px 15px 10px 15px;
    margin-bottom: 4px;
    
    /* height: 400px; 
    overflow-y:scroll; */
  }
  .messagecontent{
  background-color: white;
  color: black;
  border: 1px double #ddd;
  padding:5px 10px 5px 10px; 
  margin-bottom: 2px;
  }
  .messagecontent:hover{
    background-color: rgb(240,240,240);
  }
  #box{
    width:27%;
    margin-right: 1.5%;
    border-radius:4px;
    float: right;
    padding: 4px;
    border: 2px double #ddd;
  }
  .div1{}
  .div2{
    width:27%;
    margin-right: 1.5%;
    border-radius:4px;
    float: right;
    padding: 4px;
    border: 2px double #ddd;
    position: fixed;
    top:2%;
    right: 0px;
  }
</style>
{% endblock %}

{% block content %}
    <h1 style="padding-left: 20px;">管理中心</h1>
    <div style="width: 70%;padding-left: 20px;float: left;">
      <div class="message">
        <h2>用户管理</h2>
        <table class="table table-condensed">
          <tr class="messagecontent">
              <th>id</th>
              <th>用户名</th>
              <th>邮箱</th>
              <th>手机号码</th>
              <th>用户级别</th>
              <th>个性签名</th>
              <th>操作</th>
          </tr>
        {% for user in user_page %}
          <tr class="messagecontent" id='user_{{ user.id }}'>
            <td>{{ user.id }}</td>
            <td><a href="{% url 'web:other' user.id %}">{{ user.username }}</a></td>
            <td>{{ user.email }}</td>
            <td>{{ user.mobile_phone }}</td>
            <td>{{ user.power_name }}</td>
            <td>{{ user.describe }}</td>
            <td><a href="javascript:void(0)" onclick="userDel({{ user.id }})">删除</a></td>
          </tr>
        {% endfor %}
        </table>
      </div>
      <div style="margin-left: 33%;">
        <nav aria-label="Page navigation">
          <ul class="pagination">
            {% if user_page.number > 1 %}
            <li>
              <a href="?page=1" aria-label="Previous">
                <span class="glyphicon glyphicon-fast-backward" aria-hidden="true"></span>
              </a>
            </li>
            <li>
              <a href="?page={{ user_page.previous_page_number }}" aria-label="Previous">
                <span class="glyphicon glyphicon-triangle-left" aria-hidden="true"></span>
              </a>
            </li>
            {% endif %}
            {% if user_page.paginator.num_pages == 1 %}
            <li><a href="?page={{ user_page.number }}" style="background-color: rgb(238,238,238);">{{ user_page.number }}</a></li>
            {% endif %}
            {% if user_page.paginator.num_pages == 2 %}
              {% if user_page.number == 1 %}
              <li><a href="?page={{ user_page.number }}" style="background-color: rgb(238,238,238);">{{ user_page.number }}</a></li>
              <li><a href="?page={{ user_page.number|add:1 }}">{{ user_page.number|add:1 }}</a></li>
              {% elif user_page.number == 2 %}
              <li><a href="?page={{ user_page.number|add:-1 }}">{{ user_page.number|add:-1 }}</a></li>
              <li><a href="?page={{ user_page.number }}" style="background-color: rgb(238,238,238);">{{ user_page.number }}</a></li>
              {% endif %}
            {% endif %}
            {% if user_page.paginator.num_pages == 3 %}
              {% if user_page.number == 1 %}
              <li><a href="?page={{ user_page.number }}" style="background-color: rgb(238,238,238);">{{ user_page.number }}</a></li>
              <li><a href="?page={{ user_page.number|add:1 }}">{{ user_page.number|add:1 }}</a></li>
              <li><a href="?page={{ user_page.number|add:2 }}">{{ user_page.number|add:2 }}</a></li>
              {% elif user_page.number == 2 %}
              <li><a href="?page={{ user_page.number|add:-1 }}">{{ user_page.number|add:-1 }}</a></li>
              <li><a href="?page={{ user_page.number }}" style="background-color: rgb(238,238,238);">{{ user_page.number }}</a></li>
              <li><a href="?page={{ user_page.number|add:1 }}">{{ user_page.number|add:1 }}</a></li>
              {% elif user_page.number == 3 %}
              <li><a href="?page={{ user_page.number|add:-2 }}">{{ user_page.number|add:-2 }}</a></li>
              <li><a href="?page={{ user_page.number|add:-1 }}">{{ user_page.number|add:-1 }}</a></li>
              <li><a href="?page={{ user_page.number }}" style="background-color: rgb(238,238,238);">{{ user_page.number }}</a></li>
              {% endif %}
            {% endif %}
            {% if user_page.paginator.num_pages == 4 %}  
              {% if user_page.number == 1 %}
              <li><a href="?page={{ user_page.number }}" style="background-color: rgb(238,238,238);">{{ user_page.number }}</a></li>
              <li><a href="?page={{ user_page.number|add:1 }}">{{ user_page.number|add:1 }}</a></li>
              <li><a href="?page={{ user_page.number|add:2 }}">{{ user_page.number|add:2 }}</a></li>
              <li><a href="?page={{ user_page.number|add:3 }}">{{ user_page.number|add:3 }}</a></li>
              {% elif user_page.number == 2 %}
              <li><a href="?page={{ user_page.number|add:-1 }}">{{ user_page.number|add:-1 }}</a></li>
              <li><a href="?page={{ user_page.number }}" style="background-color: rgb(238,238,238);">{{ user_page.number }}</a></li>
              <li><a href="?page={{ user_page.number|add:1 }}">{{ user_page.number|add:1 }}</a></li>
              <li><a href="?page={{ user_page.number|add:2 }}">{{ user_page.number|add:2 }}</a></li>
              {% elif user_page.number == 3 %}
              <li><a href="?page={{ user_page.number|add:-2 }}">{{ user_page.number|add:-2 }}</a></li>
              <li><a href="?page={{ user_page.number|add:-1 }}">{{ user_page.number|add:-1 }}</a></li>
              <li><a href="?page={{ user_page.number }}" style="background-color: rgb(238,238,238);">{{ user_page.number }}</a></li>
              <li><a href="?page={{ user_page.number|add:1 }}">{{ user_page.number|add:1 }}</a></li>
              {% elif user_page.number == 4 %}
              <li><a href="?page={{ user_page.number|add:-3 }}">{{ user_page.number|add:-3 }}</a></li>
              <li><a href="?page={{ user_page.number|add:-2 }}">{{ user_page.number|add:-2 }}</a></li>
              <li><a href="?page={{ user_page.number|add:-1 }}">{{ user_page.number|add:-1 }}</a></li>
              <li><a href="?page={{ user_page.number }}" style="background-color: rgb(238,238,238);">{{ user_page.number }}</a></li>
              {% endif %}
            {% endif %}
            {% if user_page.paginator.num_pages >= 5 %}  
              {% if user_page.number == 1 %}
              <li><a href="?page={{ user_page.number }}" style="background-color: rgb(238,238,238);">{{ user_page.number }}</a></li>
              <li><a href="?page={{ user_page.number|add:1 }}">{{ user_page.number|add:1 }}</a></li>
              <li><a href="?page={{ user_page.number|add:2 }}">{{ user_page.number|add:2 }}</a></li>
              <li><a href="?page={{ user_page.number|add:3 }}">{{ user_page.number|add:3 }}</a></li>
              <li><a href="?page={{ user_page.number|add:4 }}">{{ user_page.number|add:4 }}</a></li>
              {% elif user_page.number == 2 %}
              <li><a href="?page={{ user_page.number|add:-1 }}">{{ user_page.number|add:-1 }}</a></li>
              <li><a href="?page={{ user_page.number }}" style="background-color: rgb(238,238,238);">{{ user_page.number }}</a></li>
              <li><a href="?page={{ user_page.number|add:1 }}">{{ user_page.number|add:1 }}</a></li>
              <li><a href="?page={{ user_page.number|add:2 }}">{{ user_page.number|add:2 }}</a></li>
              <li><a href="?page={{ user_page.number|add:3 }}">{{ user_page.number|add:3 }}</a></li>
              {% elif user_page.number|add:1 == user_page.paginator.num_pages %}
              <li><a href="?page={{ user_page.number|add:-3 }}">{{ user_page.number|add:-3 }}</a></li>
              <li><a href="?page={{ user_page.number|add:-2 }}">{{ user_page.number|add:-2 }}</a></li>
              <li><a href="?page={{ user_page.number|add:-1 }}">{{ user_page.number|add:-1 }}</a></li>
              <li><a href="?page={{ user_page.number }}" style="background-color: rgb(238,238,238);">{{ user_page.number }}</a></li>
              <li><a href="?page={{ user_page.number|add:1 }}">{{ user_page.number|add:1 }}</a></li>
              {% elif user_page.number == user_page.paginator.num_pages %}
              <li><a href="?page={{ user_page.number|add:-4 }}">{{ user_page.number|add:-4 }}</a></li>
              <li><a href="?page={{ user_page.number|add:-3 }}">{{ user_page.number|add:-3 }}</a></li>
              <li><a href="?page={{ user_page.number|add:-2 }}">{{ user_page.number|add:-2 }}</a></li>
              <li><a href="?page={{ user_page.number|add:-1 }}">{{ user_page.number|add:-1 }}</a></li>
              <li><a href="?page={{ user_page.number }}" style="background-color: rgb(238,238,238);">{{ user_page.number }}</a></li>
              {% else %}
              <li><a href="?page={{ user_page.number|add:-2 }}">{{ user_page.number|add:-2 }}</a></li>
              <li><a href="?page={{ user_page.number|add:-1 }}">{{ user_page.number|add:-1 }}</a></li>
              <li><a href="?page={{ user_page.number }}" style="background-color: rgb(238,238,238);">{{ user_page.number }}</a></li>
              <li><a href="?page={{ user_page.number|add:1 }}">{{ user_page.number|add:1 }}</a></li>
              <li><a href="?page={{ user_page.number|add:2 }}">{{ user_page.number|add:2 }}</a></li>
              {% endif %}
            {% endif %}
            {% if user_page.number < user_page.paginator.num_pages %}
            <li>
              <a href="?page={{ user_page.next_page_number }}" aria-label="Next">
              <span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>
              </a>
            </li>
            <li>
              <a href="?page={{ user_page.paginator.num_pages }}" aria-label="Next">
                <span class="glyphicon glyphicon-fast-forward" aria-hidden="true"></span>
              </a>
            </li>
            {% endif %}
            <li style="padding-left: 10px;position: relative;top:4px;">
              {{ count }} 条用户数据 ，
              共 {{ floor_page.paginator.num_pages }} 页，
              跳转至<input type="text" id="pageNum" size="1">页
              <button type="button" class="btn btn-default btn-sm" onclick="getPage();">
                  <span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span>
              </button>
            </li>
          </ul>
        </nav>
      </div>
    </div>
    <div id="box">  
      <div id="float" class="div1">
          <ul class="nav nav-pills nav-stacked" >
            <li role="presentation"><a href="{% url 'web:manage' %}">消息中心</a></li>
              <li role="presentation"><a href="{% url 'web:manage_topic' %}">帖子管理</a></li>
              <li role="presentation"><a href="{% url 'web:manage_floor' %}">回复管理</a></li>
              {% if request.user.power == 3 %}
              <li role="presentation"><a href="{% url 'web:manage_forum' %}">版块管理</a></li>
              <li role="presentation" class="active"><a href="{% url 'web:manage_user' %}">用户管理</a></li>
              {% endif %}
          </ul>
      </div>  
    </div> 
    
    <div style="height: 110px;position: fixed;bottom:-30px;right: 25%;">
      <ul >
        <li >
          <div style="background-color: #337ab7;width: 50px;height: 50px;border-radius:4px;">
            <a href="javascript:void(0)" onclick="goto_top()">
              <i class="fa fa-chevron-up fa-2x" style="color: rgb(234,240,251);position: relative;left:11px ;top:10px"></i>
            </a>
          </div>
        </li>
      </ul>
    </div>
{% endblock %}

{% block js %}
  <script>
    var goto_top_type = -1;  
var goto_top_itv = 0;  
  
function goto_top_timer() {  
    var y = goto_top_type == 1 ? document.documentElement.scrollTop  
            : document.body.scrollTop;  
    var moveby = 15;  
    y -= Math.ceil(y * moveby / 100);  
    if (y < 0) {  
        y = 0;  
    }  
    if (goto_top_type == 1) {  
        document.documentElement.scrollTop = y;  
    } else {  
        document.body.scrollTop = y;  
    }  
    if (y == 0) {  
        clearInterval(goto_top_itv);  
        goto_top_itv = 0;  
    }  
}  
  
function goto_top() {  
    if (goto_top_itv == 0) {  
        if (document.documentElement && document.documentElement.scrollTop) {  
            goto_top_type = 1;  
        } else if (document.body && document.body.scrollTop) {  
            goto_top_type = 2;  
        } else {  
            goto_top_type = 0;  
        }  
        if (goto_top_type > 0) {  
            goto_top_itv = setInterval('goto_top_timer()', 50);  
        }  
    }  
} 
(function(){   
    var oDiv=document.getElementById("float");   
    var H=0,iE6;   
    var Y=oDiv;   
    while(Y){H+=Y.offsetTop;Y=Y.offsetParent};   
    iE6=window.ActiveXObject&&!window.XMLHttpRequest;   
    if(!iE6){   
        window.onscroll=function()   
        {   
            var s=document.body.scrollTop||document.documentElement.scrollTop;   
            if(s>H){oDiv.className="div1 div2";if(iE6){oDiv.style.top=(s-H)+"px";}}   
            else{oDiv.className="div1";}       
        };   
    }   
})(); 
function getPage() {
        var pageNum = $('#pageNum').val();
        if(pageNum >= 1 && pageNum <= {{ user_page.paginator.num_pages }} ){
            location.assign("{% url 'web:manage_user' %}?page="+pageNum);
        }
        else{
            alert('请输入正确的页码!');
        }
    }
function userDel(id) {
  var flag = confirm("您真的确定要删除吗？")
  if(flag){
    $.ajax({
        url: '/user_del/'+ id + '/',
        type: "POST",
        data: {id:id},
        dataType: "JSON",
        success: function (res) {
            if(res.status){
            $('#user_'+id).remove();
            }
        }
    })
  }
}
  </script>
{% endblock %}