{% extends 'layout/basic.html' %}
{% load static %}

{% block title %}个人详情页{% endblock %}
{% block css %}
<style>
  .personage {
    position: relative;
    right: 2px;
    border: 2px solid black;
    padding-left: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 200px;
    float: left;
  }
  .forums{
    position: relative;
    left: 2px;
    border: 2px solid black;
    padding-bottom: 10px;
    padding-left: 10px;
    width: 800px;
    float: left;
  }
</style>
{% endblock %}

{% block content %}
<div class="content">
  <div class="personage">
    <div class='logo'>
      {% if request.user.head_portrait %}
      <img class='logo1' src='{{ user.head_portrait.url }}'>
      {% else %}
      <img class='logo1' src="{% static 'img/default.jpg' %}">
      {% endif %}
    </div>
    <h1>{{ user.username }}</h1>
    {% if request.user.power == 4 or request.user.power == 3 %}
    <a href="{% url 'web:change_power' user.id %}">修改权限</a>
    {% endif %}
    <h5>个性签名：</h5>
    {% if user.describe %}
    <p style="width: 150px;">{{ user.describe }}</p>
    {% else %}
    <p>这个人很懒什么也没留下</p>
    {% endif %}
  </div>
  <div class="forums">
    <h4>他关注的版块</h4>
    {% for concerned in user.usertoforum_set.all %}
    {% if concerned.status == 1 %}
    <div id='concerned_{{ concerned.forum.id }}'>
      <a  href="{% url 'web:forum' concerned.forum.id %}">{{ concerned.forum }}</a>
    </div>
    {% endif %}
    {% endfor %}
  </div>
</div>
    
{% endblock %}

{% block js %}
  <script>
    function unConcerned(id) {
      var pk = id
      var url = '/unconcerned/' + pk + '/'
      $.ajax({
        url: url,
        type: "POST",
        success: function (res) {
          if(res.status){
            $('#concerned_'+id).remove();
          }
        }
      })
    }
  </script>
{% endblock %}