{% extends 'layout/basic.html' %}
{% load static %}
{% block title %}用户注册{% endblock %}

{% block css %}

{% endblock %}

{% block content %}
<h1 style="text-align:center;">注册</h1>
<div class="account">
  <form id="regForm" method="POST" novalidate>
    {% csrf_token %}
    {% for field in form %}
    {% if field.name == 'code' %}
    <div class="form-group">
      <label for="{{ field.id_for_label }}">{{ field.label }}</label>
      <div class="clearfix">
        <div class="col-md-6" style="padding-left:0">
          {{field}}
          <span class="error-msg" style="font-size: 12px;"></span>
        </div>
        <div class="col-md-6">
          <input id="btnSms" type="button" class="btn btn-default" value='点击获取验证码'>
        </div>
      </div>
    </div>
    {% else %}
    <div class="form-group">
      <label for="{{ field.id_for_label }}">{{ field.label }}</label>
      {{ field }}
      <span class="error-msg" style="font-size: 12px;"></span>
    </div>
    {% endif %}
    {% endfor %}
    <input id="btnSubmit" type="button" class="btn btn-primary" value='注册'>
  </form>
</div>

{% endblock %}

{% block js %}
    <!-- <script src="{% static 'js/regiter.js' %}"></script> -->
    <script>
      $(function (){
    bindClickBtnSms();
    bindClickSubmit();
});
function bindClickBtnSms() {
    $('#btnSms').click(function() {
        $('.error-msg').empty();
        var mobilePhone = $('#id_mobile_phone').val();
        $.ajax({
            url:"{% url 'web:send_sms' %}",
            type:'GET',
            data:{mobile_phone: mobilePhone, tpl: "register"},
            dataType: "JSON",
            success:function(res) {
                if (res.status){
                    sendSmsRemind();
                }else{
                    $.each(res.error, function (key,value){
                        $("#id_" + key).next().text(value[0]);
                    })
                }
            }
        })
    })
}
function sendSmsRemind() {
    var $smsBtn = $('#btnSms');
    $smsBtn.prop('disabled', true);

    var time = 60;
    var remind = setInterval(function () {
        $smsBtn.val(time + '秒重新发送');
        time = time - 1;
        if (time < 1) {
            clearInterval(remind);
            $smsBtn.val('点击获取验证码').prop('disabled', false);
        }
    }, 1000)
}
function bindClickSubmit() {
    $('#btnSubmit').click(function (){
        $('.error-msg').empty();
        $.ajax({
            url:"{% url 'web:register' %}",
            type:"POST",
            data:$('#regForm').serialize(),
            dataType:"JSON",
            success:function (res) {
                if(res.status){
                    location.href =res.data;
                }else{
                    $.each(res.error, function(key, value){
                        $("#id_" +key).next().text(value[0]);
                    })
                }
            }
        })
    })
}
    </script>
{% endblock %}