{% extends 'layout/basic.html' %}
{% load static %}
{% block title %}帖子{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/topic.css' %}">
{% endblock %}

{% block content %}
<div class="content">
  <div class="head">
    <h1 style=" width: 800px;">{{ topic }}</h1>
		<div class="collect">
			{% if topic.forum.moderator == request.user %}
				{% if topic.top %}
				<a id="top" href="javascript:unTop({{ topic.id }});">取消置顶</a>&nbsp;
				{% else %}
				<a id="top" href="javascript:Top({{ topic.id }});">置顶</a>&nbsp;
				{% endif %}
				{% if topic.refined %}
				<a id="refined" href="javascript:unRefined({{ topic.id }});">取消加精</a>&nbsp;
				{% else %}
				<a id="refined" href="javascript:Refined({{ topic.id }});">加精</a>&nbsp;
				{% endif %}
			{% endif %}
			{% if  topic.id in collect %}
			<a id='collect_{{ topic.id }}' href="javascript:unCollect({{ topic.id }});">取消收藏</a>
			{% else %}
			<a id='collect_{{ topic.id }}' href="javascript:Collect({{ topic.id }});">收藏</a>
			{% endif %}
		</div>
  </div>
  <div style="width: 1000px;padding-top: 20px;">
    <ul style="list-style-type: none;">
      {% for floor in floors %}
      <li id="floor_{{ floor.id }}"  style="padding-top: 10px;">
				<div class="floorstyle">
					<div class="personage">
						{% if floor.owner.head_portrait %}
						<img class='logo1' src='{{ floor.owner.head_portrait.url }}'>
						{% else %}
						<img class='logo1' src="{% static 'img/default.jpg' %}">
						{% endif %}
						<div><a id="owner_{{ floor.id }}" href="{% url 'web:other' floor.owner.id %}" style="font-size: 20px;">{{ floor.owner }}</a></div> 
					</div>
					<div class="forums">
						<div style="height: 200px;">
							<div style="height: 120px;padding-left: 10px;">
								<p>{{ floor.floor_text|linebreaks }}</p>
							</div>
							<div style="float: right;padding-right: 10px;"  >
								<p id="reply_father">{{ floor.floor_number }}楼&nbsp;&nbsp;&nbsp;
									{{ floor.date_added|date:'Y-m-d H:i' }}</p>
								<a id="replyshow{{ floor.id }}"href="javascript:replyShow({{ floor.id }});">回复</a>
								{% if floor.owner == request.user %}
								<a href="javascript:floorDel({{ floor.id }});">删除</a>
								{% endif %}
								{% if floor.id in floorgreat %}
								<a style="pointer-events: none;">已点赞({{ floor.great }})</a>
								<a id="unfloorGreat_{{ floor.id }}" href="javascript:unfloorGreat({{ floor.id }});">取消点赞</a>
								{% else %}
								<a id="floorGreat_{{ floor.id }}" href="javascript:floorGreat({{ floor.id }});">点赞({{ floor.great }})</a>
								{% endif %}
							</div>
						</div>
						<div id="reply_form_{{ floor.id }}" class="reply">
							<div id="reply_list_{{ floor.id }}">
								{% for reply in floor.comment_set.all %}
								<div id="reply_{{ reply.id }}" class="reply_list_{{ floor.id }}" style="padding-bottom: 5px;padding-top: 5px;">
										{% if reply.owner.head_portrait %}
										<img class='comment_head' src='{{ reply.owner.head_portrait.url }}'>
										{% else %}
										<img class='comment_head' src="{% static 'img/default.jpg' %}">
										{% endif %}
										{% if reply.by_owner == Null %}
										<a id="replyowner_{{ reply.id }}" href="{% url 'web:other' reply.owner.id %}">{{ reply.owner }}</a>
										{% else %}
										<a id="replyowner_{{ reply.id }}" href="{% url 'web:other' reply.owner.id %}">{{ reply.owner }}</a>:回复 
										{% if reply.by_owner.head_portrait %}
										<img class='comment_head' src='{{ reply.by_owner.head_portrait.url }}'>
										{% else %}
										<img class='comment_head' src="{% static 'img/default.jpg' %}">
										{% endif %}
										<a href="{% url 'web:other' reply.by_owner.id %}">{{ reply.by_owner }}</a>
										{% endif %}
										<span> ({{ reply.date_added|date:'Y-m-d H:i' }}):</span>
										<span>{{ reply.text }}</span>
										<div style="float: right;padding-right: 5px;">
											<a href="javascript:reply({{ reply.id }},{{ floor.id }});">回复</a>
											{% if reply.owner == request.user %}
											<a href="javascript:replyDel({{ reply.id }});">删除</a>
											{% endif %}
											{% if reply.id in commentgreat %}
											<a style="pointer-events: none;">已点赞({{ reply.great }})</a>
											<a id="uncommentGreat_{{ reply.id }}" href="javascript:uncommentGreat({{ reply.id }});">取消点赞</a>
											{% else %}
											<a id="commentGreat_{{ reply.id }}" href="javascript:commentGreat({{ reply.id }});">点赞({{ reply.great }})</a>
											{% endif %}
										</div>
								</div>
								{% endfor %}
								<form action="{% url 'web:update_comment' %}" id="replyForm_{{ floor.id }}" method="post" style="padding-bottom: 5px;">
										{% csrf_token %}
										<p id="comment_name_{{ floor.id }}"></p>
										<textarea id="reply_text_{{ floor.id }}" class="reply_text"  name="reply_text"></textarea>
										<input id="floor_id_{{ floor.id }}" name="floor_id" value="{{ floor.id }}"  type="hidden">
										<input id="reply_comment_{{ floor.id }}" class="comment_id" name="comment_id" value="0"  type="hidden">
	<!--              <input type="submit" id="replySubmit_{{ floor.id }}" value="发送">-->
										<button type="button" id="{{ floor.id }}" onclick="replySubmit({{ floor.id }})">发送</button>
								</form>
							</div>
						</div>
					</div>
				</div>
      </li>
      {% empty %}
      <li>没有回复</li>
      {% endfor %}
    </ul>
  </div>
  <div style="padding-top: 5px;">
      <div class="form">
        <p>发表回复</p>
        <form action="{% url 'web:topic' topic.id%}" method="post">
          {% csrf_token %}
          {{ form.as_p }}
          <button name="submit">发表</button>
        </form>
      </div>
  </div>
</div>
{% endblock %}

{% block js %}
  <script>
    $.ajaxSetup({
        data:{csrfmiddlewaretoken:'{{ csrf_token }}'}
    })
    //标题显示
    $("#forum").show();
    $("#forum").text("{{ topic.forum.forum_name }}");
    $("#forum").attr("href","{% url 'web:forum' topic.forum.id %}");
    $("#topic").show();
    $("#topic").text("{{ topic.topic_text|slice:':10' }}");
    $("#topic").attr("href","{% url 'web:topic' topic.id %}");
  </script>
  <script src="{% static 'js/topic.js' %}"></script>
{% endblock %}